.container {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-image: url("../images/background1.jpg");
    width: auto;
    transition: 0.5s ease-in-out;
}

.container:hover {
    transition: 0.5s ease-in-out;
    background-image: url("../images/background2.jpg");
}

.container img {
    width: 100%;
    height: 100%;
}

.navbar {
    position: absolute;
    padding: 10px;
}

.navbar .ul_list {
    float: right;
    list-style: none;
}

.navbar .ul_list .list_item {
    display: inline-block;
    font-family: NVR;
}

.navbar .ul_list .list_item a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    font-size: 13px;
    font-family: NVR;
}

.ul_list .left .list_item a {
    padding: 6px 32px;
}

.ul_list .right .list_item a {
    padding: 6px 28px;
}

.navbar .ul_list .list_item a:hover {
    background-color: rgba(207, 177, 177, 0.08);
}

h2 {
    color: #b49a46;
    position: absolute;
    font-family: AGR;
    font-weight: 100;
    font-size: 28px;

}

.container .lorem {
    left: 38%;
    top: 74%;

}

.first_p {
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-align: center;
    left: 34%;
    top: 80%;
    font-family: NVR;
}

.classes.music li {
    color: #fff;
}

.list_item i {
    color: #fff;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    font-size: 12px;
}

.ul_list .line {
    background-color: #fff;
    height: 12px;
    width: 1px;
    margin: 0px 5px;
}

.english {
    color: #b49a46;
    padding-left: 5px;
    font-family: NVR;
    font-size: 14px;
}

.arabic {
    color: #fff;
}

.socialmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5px;
    top: 50px;
}

.headerlogo {
    width: 66px;
    height: 139px;
    position: absolute;
    left: calc(50% - 33px);
    top: calc(139px / 2);
}