.container {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-image: url("../images/background1.jpg");
    width: auto;
    transition: 0.5s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
}

.container:hover {
    transition: 0.5s ease-in-out;
    background-image: url("../images/background2.jpg");
    background-size: 100% 100%;
    background-position: center;
}

.container img {
    width: 100%;
    height: 100%;
}

.navbar {
    position: absolute;
    padding: 10px;
}

.navbar .ul_list {
    float: right;
    list-style: none;
    padding: 0 50px;
}

.navbar .ul_list .list_item {
    display: inline-block;
    font-family: NVR;
}

.navbar .ul_list .list_item a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    font-size: 13px;
    font-family: NVR;
}

.ul_list .left .list_item a {
    padding: 6px 30px;
}

.ul_list .right .list_item a {
    padding: 6px 22px;
}

p{
    margin-bottom: 0 !important;
}
.navbar .ul_list .list_item a:hover {
    color: white;
    background-color: rgba(207, 177, 177, 0.08);
}

.classes.music li {
    color: #fff;
}

.list_item i {
    color: #fff;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    font-size: 12px;
}

.ul_list .line {
    background-color: #fff;
    height: 12px;
    width: 1px;
    margin: 0px 5px;
}

.english {
    color: #b49a46;
    padding-left: 5px;
    font-family: NVR;
    font-size: 14px;
    margin-left: 28px;
}

.arabic {
    color: #fff;
}

.socialmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 53px;
    top: 50px;
}

.headerlogo {
    width: 66px;
    height: 139px;
    position: absolute;
    left: calc(50% - 70px);
    top: 49px
}

.text_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 63px;
}

.lorem {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -55px;
    color: #b49a46;
    font-family: AGR;
    font-weight: 100;
    font-size: 28px;
}

.first_p {
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-family: NVR;
}