*{
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: AGR;
  src: url(../public/fonts/Aviano\ Gothic\ Regular.ttf);
}

@font-face {
  font-family: NVR;
  src: url(../public/fonts/FSP\ DEMO\ -\ Novecento\ sans\ Book\ Regular\ 350.otf);
}

@font-face {
  font-family: POP ;
  src: url(../public/fonts/Poppins-Light.ttf);
}
.FMAGB {
  font-family: AGR, NVR , POP;

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 380px !important;
}